<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Template.css">
  <link rel="stylesheet" href="suspects.css">
  <link rel="stylesheet" href="extern.css">
  <link rel="stylesheet" href="Assets/bootstrap-5.1.3-dist/css/bootstrap.min.css">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/Template.js"></script>
  <script src="Assets/jquery-3.6.1.min.js"></script>
  <script src="Assets/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
  <script src="custom.js"></script>
  <title>Fudge Story Template</title>
  <!-- <splash src="Images/Splash.png" /> -->
</head>

<body>
  <scene id="scene">
    <dialog type="splash" open>
      <img id="FudgeStoryLogo" theme="light" /> <!-- use "light" or "dark" -->
      <img class="cover" src="Images/Backgrounds/Kapitel/splash.png" alt="Splashscreen">
    </dialog>

    <canvas></canvas>


    <speech>
      <name>Ein Visual Novel von einem Planlosen</name>
      <content>Lorem</content>
    </speech>

    <dialog type="text">
      The content of a page of text for reading
    </dialog>

    <!-- Atlas Meterbar -->
    <div type="interface" id="atlasInterface">
      <!-- für value der Skala; Füllung -->
      <meter id="atlasMeter" name="atlasScore" min="0" max="100" disabled></meter>
      <script>
        document.getElementsByName("atlasScore").forEach(meterStuffAtlas => meterStuffAtlas.hidden = true);
        document.getElementById("scoreForAtlas").style.display = "none";
      </script>
    </div>

    <!-- Lucia Meterbar -->
    <div type="interface" id="luciaInterface">
      <!-- für value der Skala; Füllung -->
      <meter id="luciaMeter" name="luciaScore" min="0" max="100" disabled></meter>
      <script>
        document.getElementsByName("luciaScore").forEach(meterStuffLucia => meterStuffLucia.hidden = true);
        document.getElementById("scoreForLucia").style.display = "none";
      </script>
    </div>

    <!-- Solas Meterbar -->
    <div type="interface" id="solasInterface">
      <!-- für value der Skala; Füllung -->
      <meter id="solasMeter" name="solasScore" min="0" max="100" disabled></meter>
      <script>
        document.getElementsByName("solasScore").forEach(meterStuffSolas => meterStuffSolas.hidden = true);
        document.getElementById("scoreForSolas").style.display = "none";
      </script>
    </div>

  </scene>

  <div id="shutter"></div>

  <div class="suspects hidden" id="suspects">
    <h3 class="title">Wer ist <span class="line-through">sus</span> verdächtig...?</h3>
    <div class="portraits row">
      <div class="portrait-wrapper solas col-12">
        <div class="portrait col-3">
          <p>Solas</p>
          <img id="solasPortrait" src="Images/Portraits/portrait-solas.png" alt="Portrait">
        </div>
        <div class="info col-9">
          <div class="motive">
            <h3>Motiv</h3>
            <p id="solasMotive" class="hidden">Er könnte die Aufführung sabotieren, weil er ein Perfektionist ist und
              mehr Zeit braucht, um
              das Skript zu optimieren.</p>
          </div>
          <div class="opportunity ">
            <h3>Indizien</h3>
          </div>
        </div>
      </div>
      <div class="portrait-wrapper atlas col-12">
        <div class="portrait col-3">
          <p>Atlas</p>
          <img id="atlasPortrait" src="Images/Portraits/portrait-atlas.png" alt="Portrait">
        </div>
        <div class="info col-9">
          <div class="motive">
            <h3>Motiv</h3>
            <p id="motiveDiary" class="hidden">Er könnte die Sabotage inszenieren, um dich von der Schule abzulenken, sodass er
              Jahrgangsbester bleibt.</p>
            <p id="motiveNoDiary" class="hidden">???</p>
          </div>
          <div class="opportunity">
            <h3>Indizien</h3>
          </div>
        </div>
      </div>
      <div class="portrait-wrapper lucia col-12">
        <div class="portrait col-3">
          <p>Lucia</p>
          <img id="luciaPortrait" src="Images/Portraits/portrait-lucia.png" alt="Portrait">
        </div>
        <div class="info col-9">
          <div class="motive">
            <h3>Motiv</h3>
            <p id="luciaMotive" class="hidden">Sie könnte aus Rache die Sabotage begehen, weil ihr als Mitglied hinter
              den Kulissen die
              Wertschätzung fehlt.</p>
          </div>
          <div class="opportunity">
            <h3>Indizien</h3>
            <p id="luciaOpportunity" class="hidden">Sie sagt, sie habe den Schlüssel zum Theaterraum verloren. Stimmt
              das...?</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>