<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="Template.css">
  <link rel="stylesheet" href="suspects.css">
  <link rel="stylesheet" href="extern.css">
  <link rel="stylesheet" href="Assets/bootstrap-5.1.3-dist/css/bootstrap.min.css">
  <script src="Fudge/FudgeCore.js"></script>
  <script src="FudgeStory/FudgeStory.js"></script>
  <script src="./Build/Template.js"></script>
  <script src="Assets/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
  <title>Behind the scenes</title>
  <!-- <splash src="Images/Splash.png" /> -->
</head>

<body>
  <scene id="scene">
    <dialog type="splash" open>
      <div class="splash-wrapper">
        <img class="cover bottom" src="Images/Backgrounds/Kapitel/splash-simple.png" alt="Splashscreen">
        <img class="cover top" src="Images/Backgrounds/Kapitel/splash-simple-2.png" alt="Splashscreen">
        <img class="cover top" src="Images/Backgrounds/Kapitel/splash-simple-3.png" alt="Splashscreen">
      </div>
      <div class="summary">
        <h1 style="font-family: Gamewriting">Behind the scenes</h1>
        <p>
          Du bist stellvertretende Schulsprecherin und wirst von deiner Mitschülerin Kira um Hilfe gebeten, die eine Sabotage der bevorstehenden Theateraufführung aufdecken will. 
          Tatsächlich sind zwischen den Proben in letzter Zeit ein paar komische Sachen passiert... 
          Du begleitest sie zum nächsten Treffen, um dich umzuhören. 
          Drei Mitglieder sind verdächtig. Kannst du herausfinden, wer der Täter ist?
        </p>
      </div>
      <img id="FudgeStoryLogo" theme="light" /> <!-- use "light" or "dark" -->
    </dialog>

    <canvas></canvas>


    <speech>
      <name>Behind the scenes</name>
      <content>
        <!-- <p></p> -->
      </content>
    </speech>

    <dialog type="text">
      The content of a page of text for reading
    </dialog>

    <!-- Atlas Meterbar -->
    <div type="interface" id="atlasInterface">
      <!-- für value der Skala; Füllung -->
      <meter id="atlasMeter" name="atlasScore" min="0" max="100" value="20" disabled></meter>
      <script>
        document.getElementsByName("atlasScore").forEach(meterStuffAtlas => meterStuffAtlas.hidden = true);
      </script>
    </div>

    <!-- Lucia Meterbar -->
    <div type="interface" id="luciaInterface">
      <!-- für value der Skala; Füllung -->
      <meter id="luciaMeter" name="luciaScore" min="0" max="100" value="50" disabled></meter>
      <script>
        document.getElementsByName("luciaScore").forEach(meterStuffLucia => meterStuffLucia.hidden = true);
      </script>
    </div>

    <!-- Solas Meterbar -->
    <div type="interface" id="solasInterface">
      <!-- für value der Skala; Füllung -->
      <meter id="solasMeter" name="solasScore" min="0" max="100" value="50" disabled></meter>
      <script>
        document.getElementsByName("solasScore").forEach(meterStuffSolas => meterStuffSolas.hidden = true);
      </script>
    </div>

    <!-- lightsOut Szene Switch -->
    <img src="Images/switch.png" id="switch" hidden>

  </scene>

  <div id="shutter"></div>

  <div class="suspects hidden" id="suspects">
    <h3 class="title">Wer ist <span class="line-through">sus</span> verdächtig...?</h3>
    <div class="portraits row">
      <div class="portrait-wrapper solas col-12">
        <div class="portrait col-3">
          <p>Autor Solas</p>
          <img id="solasPortrait" src="Images/Portraits/portrait-solas.png" alt="Portrait">
        </div>
        <div class="info col-9">
          <div class="motive">
            <h4>Motiv</h4>
            <p id="solasMotive"></p>
          </div>
          <div class="opportunity ">
            <h4>Hinweise</h4>
            <p id="solasHandwriting"></p>
            <p id="solasPlea"></p>
          </div>
        </div>
      </div>
      <div class="portrait-wrapper atlas col-12">
        <div class="portrait col-3">
          <p>Hauptdarsteller Atlas</p>
          <img id="atlasPortrait" src="Images/Portraits/portrait-atlas.png" alt="Portrait">
        </div>
        <div class="info col-9">
          <div class="motive">
            <h4>Motiv</h4>
            <p id="atlasMotive"></p>
          </div>
          <div class="opportunity">
            <h4>Hinweise</h4>
            <p id="atlasOpportunity"></p>
            <p id="aboutAlibi"></p>
          </div>
        </div>
      </div>
      <div class="portrait-wrapper lucia col-12">
        <div class="portrait col-3">
          <p>Technikerin Lucia</p>
          <img id="luciaPortrait" src="Images/Portraits/portrait-lucia.png" alt="Portrait">
        </div>
        <div class="info col-9">
          <div class="motive">
            <h4>Motiv</h4>
            <p id="luciaMotive"></p>
          </div>
          <div class="opportunity">
            <h4>Hinweise</h4>
            <p id="luciaOpportunity"></p>
            <p id="whatAboutKey"></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
  </body>

</html>