@font-face {
  font-family: "Quicksand-Regular";
  src: url("Fonts/Quicksand/Quicksand-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Gamewriting";
  src: url("Fonts/IndieFlower/IndieFlower-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "HandwritingAtlas";
  src: url("Fonts/Parisienne-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "HandwritingWarning";
  src: url("Fonts/GloriaHallelujah-Regular.ttf");
  font-display: swap;
}

*{
  cursor: pointer !important;
}

:root{
  /* --primary: #CEAB93; */
  --primary: #161b22;
  --secondary: #C0D8C0;
  /* --tertiary: #9E7676; */
  --tertiary: #8A88C1;
  /* --tertiary: #78252d; */
}

scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
  position: absolute;
}

.cover{
  width: 100%;
}

tr {
  position: relative;
  display: block;
  padding-bottom: 1em;
}

tr:last-of-type{
  padding-bottom: 0;
}

td:first-of-type {
  min-width: 11vw;
}

dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
  max-width: 400px;
  position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  background-color: var(--primary) !important;
  overflow: hidden;
  font-family: "Quicksand-Regular";
}

p, div, span, h1, h2, h3, h4, h5, h6{
  color: #161b22;
}

canvas {
  width: 100%;
  height: 100%;
}

speech {
  position: absolute;
  bottom: 2.9%;
  left: 0;
  margin: auto;
  right: 0;
  padding: 10px;
  color: white;
  background-color: rgba(11, 14, 19, 0.8);
  border-radius: 15px;
  width: 90%;
  min-height: 137px;
  z-index: 888888;
  /* height: 10vh; */

  visibility: hidden;
}

.summary p, .summary h1{
    color: white;
}

.summary{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* dialog[type=splash] + canvas + speech{
  background-color: transparent;
    top: 50%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    min-height: unset;
    height: min-content;
    width: auto;
    text-align: left;
}
dialog[type=splash] + canvas + speech p{
color: white;
}

dialog[type=splash] + canvas + speech name{
  font-size: xxx-large;
  text-align: center;
  margin-bottom: 20px;
  } */

.dark speech {
  border: 1px solid whitesmoke;
}

speech name {
  font-weight: bold;
  color: lightblue;
  font-variant: small-caps;
  font-size: 18px;
  margin: 10px;
  display: block;
}

.Narrator name{
  color: lightcoral;
}

speech content {
  font-size: 20px;
  margin: 10px;
  display: block;
}

/* no focus outline */
*:focus {
  outline: unset !important;
  box-shadow: none !important;
}

dialog.hint {
  border-radius: 0.25rem;
  background: var(--tertiary);
  border-color: white;
  color: white;
}
dialog.hint *, .coverDialog * {
  color: white;
}
dialog p:last-of-type, .coverDialog p:last-of-type {
  margin-bottom: 0;
}
dialog.hint p:not(.hint p:last-of-type) {
  margin-bottom: 5px;
}

dialog{
  padding: 20px;
  border-color: bisque;
}
dialog h1, dialog h2, dialog h3{
  margin-bottom: 20px;
}

dialog td + td {
  padding-left: 15px;
}

dialog.dialogoptions {

  gap: 15px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 15px;
  border: none;

  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

dialog.dialogoptions button {
  background-color: var(--tertiary);
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
  border: none;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  border: 2px solid white;
  width: 100%;
}

dialog.dialogoptions button:hover {
  cursor: pointer;
  background-color: rgba(11, 14, 19, 0.8);
}

dialog.dialogoptions button:not(.dialogoptions button:first-of-type) {
  margin-top: 20px;
}

dialog.menuInGame {
  position: absolute;
  left: auto;
  right: 0;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  border: none;
  background: none;
  gap: 15px;
  z-index: 99999999999999;
  padding: 15px;
}

dialog.menuInGame button {
  padding: 6px 10px;
  border: 2px solid white;
  background-color: var(--tertiary);
  transition: all 0.4s;
  color: white;
  border-radius: 0.25rem;
}

/* dialog.menuInGame button:not(#toggleSuspects) {
  background-color: #161b22;
  color: white;
} */

dialog.menuInGame button.active, dialog.menuInGame button:hover{
  /* border: 2px solid lightcoral; */
  color: var(--tertiary);
  background-color: whitesmoke;
}

dialog.menuInGame button.active#toggleSound{
  text-decoration: line-through;
}

.coverDialog {
  width: 50%;
  background: transparent;
  border: none;
  transition: all 0.4s;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99999;
  top: 0;
  bottom: 0;
  height: fit-content;
}

.coverDialog h1, .aquiredPagesWrapper h1{
  font-family: "Gamewriting";
}

img#switch {
  position: absolute;
}

img#switch.bottomRight{
  right: 14%;
  bottom: 28.5%;
}
img#switch.bottomLeft{
  left: 14%;
  bottom: 32%;
  transform: skew(0deg, -11deg);
}
img#switch.centerLeft{
  left: 19%;
  bottom: 50%;
}
img#switch.centerRight{
  right: 0.7%;
  bottom: 65%;
}

/* Lights off */
.dark:root {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;
  z-index: 777;
  transition: all 0.4s;
}
.dark:root:before {
  z-index: 777;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: black;
  transition: all 0.4s;
}
/* Flashlight */
.dark.flashlight::before{
  transition: all 0.4s;
  background: radial-gradient(
    circle 3vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    /* rgba(0,0,0,.5) 80%, */
    rgba(0,0,0,1) 100%
    
  );
}

#shutter {
  opacity: 0;
  transition: all 30ms ease-in;/* Shutter speed */
  position: fixed;
  height: 0%;
  width: 0%;
  pointer-events: none;

  background-color: white;/* Shutter Color */
  
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%)
}
#shutter.on {
  opacity: 1;/* Shutter Transparency */
  height: 100%;
  width: 100%;
}

/* aquired pages Indizien */

.flip{
  position: absolute;
  padding: 0;
  margin: 0 auto;
  width: 60%;
  top: 2.5%;
  background: none;
  text-align: right;
  border: none;
}

.flip button{
  margin-left: 10px;

  padding: 6px 10px;
    border: 2px solid white;
    background-color: var(--primary);
    transition: all 0.4s;
    color: white;
    border-radius: 0.25rem;
}

.flip button:last-of-type{
  padding: 6px 16px;
}

.aquiredPagesWrapper{
padding: 20px;
background-color: white;
}

.aquiredPagesWrapper p{
  position: relative;
  margin-top: 0;
  border: none;
}

.allhints{
  width: fit-content;
    max-width: 60%;
    padding: 0;
    border: none;
    background: transparent;
    border-radius: 5px;
}

/* DIARY */
.pageclose{
  position: absolute;
    padding: 0;
    border: none;
    margin: 0 auto;
    width: 60%;
    top: 2.5%;
    background: none;
    text-align: right;
}

.pageclose button{
  padding: 6px 16px;
  border: 2px solid white;
  background-color: var(--primary);
  transition: all 0.4s;
  color: white;
  border-radius: 0.25rem;
}

/* WARNING PAGE */
.warningPageWrapper{
  width: 500px;
  height: min-content;
  border: none;
  font-family: "HandwritingWarning";
  background-color: whitesmoke;
  border-radius: 5px;
}

.warningPageWrapper-flip{
  width: 500px;
  height: min-content;
  border: none;
  font-family: "HandwritingWarning";
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}

.warningPageWrapper p, .warningPageWrapper-flip p{
  color: #16264c;
}

.warningPageWrapper bold, .warningPageWrapper-flip bold {
  font-family: "HandwritingAtlas";
  font-weight: bold;
  font-size: 33px;
}


.diaryPageWrapper{
  width: 60%;
  border: none;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}
.diaryPageWrapper-flip{
  width: auto;
  border: none;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.diaryPage {
  padding: 37px 55px 27px;
  position: relative;
  border: 1px solid #B5B5B5;
  background: white;
  background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
  font-family: "HandwritingAtlas";
  font-size: 32px;
}
.diaryPage::before {content:""; z-index:-1; margin:0 1px; width:706px; height:10px; position:absolute; bottom:-3px; left:0; background:white; border:1px solid #B5B5B5;}
.diaryPage::after {content:''; position:absolute; width:0px; top:0; left:39px; bottom:0; border-left:1px solid #F8D3D3;}

/***** METER BAR *****/
meter::-webkit-meter-bar {
  background-color: white;
}

meter {
  position: absolute;
  transform:rotate(-90deg);
  bottom: 50%;
  right: -15%;
  width: 35%;
  height: 90px;
  transition: visibility 0.3s, opacity 0.5s;
}

meter::before{
  position: absolute;
  right: 0;
  content: "♥";
  transform:rotate(+90deg);
  font-size: 60px;
  text-align: center;
  z-index: 99;
  color: #161b22;
  opacity: 0.5;
}

meter::-webkit-meter-optimum-value {
transition: all 0.5s;
}

meter#atlasMeter::-webkit-meter-optimum-value{
  background-color: #DC143C;
}

meter#luciaMeter::-webkit-meter-optimum-value{
  background-color: #ffe75c;
}

meter#solasMeter::-webkit-meter-optimum-value{
  background-color: lightskyblue;
}

/* The device with borders */
.smartphone {
  position: relative;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  width: 450px;
  height: fit-content;
  overflow: hidden;
  font-size: 16px;
}

.smartphone .content p{
  margin: 0;
}

.smartphone .content {
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.chatcontainer {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.darker {
  border-color: #ccc;
  background-color: #d5d5d5;
  text-align: right;
}

.chatcontainer::after {
  content: "";
  clear: both;
  display: table;
}

.chatcontainer img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chatcontainer img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.chatname{
  color: #aaa;
}

.blendin{
  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
   -ms-animation: fadein 1.5s; /* Internet Explorer */
    -o-animation: fadein 1.5s; /* Opera < 12.1 */
       animation: fadein 1.5s;
}



@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.splash-wrapper{
    position:relative;
    margin:0 auto;
}

.splash-wrapper img {
  position:absolute;
  left: 0;
}

.top{
  animation-name: multiple-image-crossfade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.splash-wrapper img:nth-of-type(2) {
  animation-delay: 0;
}
.splash-wrapper img:nth-of-type(3) {
  animation-delay: 1s;
}

@keyframes multiple-image-crossfade {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

dialog.playerTitle {
  border: none;
  width: 50%;
  border-radius: 5px;
  font-family: "Gamewriting";
}

dialog.playerTitle h1{
  text-align: center;
}

dialog.coverTitle {
  border: none;
  width: 50%;
  background-color: transparent;
  font-family: "Gamewriting";
}

dialog.coverTitle h1{
  text-align: center;
  color: white;
}

dialog.coverTitle h5{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


  
  /* leaf animations */

  #leaves {
    position: absolute;
    top: -50px;
    width: 100%;
    text-align: right;
    height: 100%;
  }
  
  #leaves i {
      display: inline-block;
      width: 200px;
      height: 150px;
      background: linear-gradient(to bottom right, #ffd93b, #f4580b);
      transform: skew(20deg);
      border-radius: 5% 40% 70%;
      z-index: 1;
      -webkit-animation: falling 5s 0s infinite;
  }
  
  #leaves i:nth-of-type(2n) { -webkit-animation: falling2 5s 0s infinite; }
  #leaves i:nth-of-type(3n) { -webkit-animation: falling3 5s 0s infinite; }
  
  #leaves i:before {
    position: absolute;
    content: '';
    top: 117px;
    right: 9px;
    height: 27px;
    width: 32px;
    transform: rotate(49deg);
    border-radius: 0% 15% 15% 0%;
    border-color: #ffd93b;
    background: linear-gradient(to right, #ffd93b, #f4580b);
    z-index: 1;
  }
  
  #leaves i:after {
    content: '';
    height: 125px;
    width: 10px;
    background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
    display: block;
    transform: rotate(125deg);
    position: absolute;
    left: 85px;
    border-radius:50%;
  }
  
  
  #leaves i:nth-of-type(n)    { height:23px; width:30px; }
  #leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
  #leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }
  
  #leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
  #leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
  #leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }
  
  #leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
  #leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
  #leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }
  
  #leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
  #leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
  #leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
  #leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
  #leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
  #leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
  #leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
  #leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
  #leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
  #leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
  #leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
  #leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
  #leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
  #leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
  #leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }
  
  #leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #ffd93b, #f4580b); }
  #leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #ffd93b, #f4580b); }
  #leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #990, #564500); }
  
  #leaves i:nth-of-type(n)    { opacity: .7;}
  #leaves i:nth-of-type(3n+1)  { opacity: .5;}
  #leaves i:nth-of-type(3n+2)  { opacity: .3;}
  
  #leaves i:nth-of-type(n)    {transform: rotate(180deg);}
  
  
  #leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}
  
  @-webkit-keyframes falling {
      
      0% {
          -webkit-transform:
              translate3d(300,0,0)
              rotate(0deg);
      }
      
      100% {
          -webkit-transform:
              translate3d(-350px,500px,0)
              rotate(90deg);
          opacity: 0;
      }
  }
  
  @-webkit-keyframes falling3 {
       0% {
          -webkit-transform:
              translate3d(0,0,0)
              rotate(-20deg);
      }
      
      100% {
          -webkit-transform:
              translate3d(-230px,500px,0)
              rotate(-70deg);
          opacity: 0;
      }
  }
  
  @-webkit-keyframes falling2 {
       0% {
          -webkit-transform:
              translate3d(0,0,0)
              rotate(90deg);
      }
      
      100% {
          -webkit-transform:
              translate3d(-400px,500px,0)
              rotate(0deg);
          opacity: 0;
      }
  }


@media screen and (max-width: 1450px){
meter{
  right: unset;
    left: -13%;
}
}

@media screen and (max-width: 1200px){
  html, body{
    font-size: 14px;
  }
  .allhints p, .smartphone p{
    font-size: 14px;
  }
  .diaryPage p{
    font-size: 20px;
  }
  speech content{
    font-size: 14px;
    margin: 5px;
  }
  speech{
    min-height: unset;
  }
  speech name{
    font-size: 14px;
    margin: 5px;
  }
  dialog.menuInGame{
    gap: 10px;
  }
  dialog.menuInGame button{
    font-size: 14px;
  }
  .suspects#suspects{
    max-width: 75%;
    padding: 15px;
    max-height: 95%;
  }
  .title, .suspects h4{
    font-size: 20px;
  }
  .suspects p, #suspects .portrait p{
    font-size: 16px;
  }
}

@media screen and (max-width: 768px), (max-width: 1000px) and (orientation: landscape){
  *, speech content, speech name, dialog.menuInGame button{
    font-size: 12px !important;
  }
  speech{
    height: fit-content;
    min-height: unset;
  }
  speech content, speech name{
    margin: 0;
  }
  .suspects{
    margin-left: 110px !important;
    margin-right: 110px !important;
  }
  dialog.menuInGame button{
    padding: 0;
  }
  dialog.menuInGame{
    right: 40px;
    gap: 10px;
  }
  #toggleSuspects{
    margin-top: 0 !important;
  }
  meter::before{
    font-size: 35px;
  }
  meter{
    height: 50px;
  }
  .warningPageWrapper bold, .warningPageWrapper-flip bold {
    font-size: 24px !important;
  }
  dialog[type=splash]>img#FudgeStoryLogo{
    max-width: 200px;
    right: unset;
  }
}